# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [2]:
# Add Matplotlib inline magic command
%matplotlib inline

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [3]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [45]:
# Create dataframes for each city type
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]

In [98]:
ride_count = pyber_data_df.count()["ride_id"]
ride_count

2375

In [99]:
driver_count = pyber_data_df.sum()["driver_count"]
driver_count

68709

In [100]:
fare = pyber_data_df.sum()["fare"]
fare

63538.64

In [85]:
# 1. Get the total rides for each city type
urban_ride_count = urban_cities_df.groupby(["type"]).count()["ride_id"]
suburban_ride_count = suburban_cities_df.groupby(["type"]).count()["ride_id"]
rural_ride_count = rural_cities_df.groupby(["type"]).count()["ride_id"]

urban_ride_count, suburban_ride_count, rural_ride_count

(type
 Urban    1625
 Name: ride_id, dtype: int64,
 type
 Suburban    625
 Name: ride_id, dtype: int64,
 type
 Rural    125
 Name: ride_id, dtype: int64)

In [86]:
# 2. Get the total drivers for each city type
urban_driver_count = urban_cities_df.groupby(["type"]).sum()["driver_count"]
suburban_driver_count = suburban_cities_df.groupby(["type"]).sum()["driver_count"]
rural_driver_count = rural_cities_df.groupby(["type"]).sum()["driver_count"]

urban_driver_count, suburban_driver_count, rural_driver_count

(type
 Urban    59602
 Name: driver_count, dtype: int64,
 type
 Suburban    8570
 Name: driver_count, dtype: int64,
 type
 Rural    537
 Name: driver_count, dtype: int64)

In [87]:
#  3. Get the total amount of fares for each city type
urban_fare_total = urban_cities_df.groupby(["type"]).sum()["fare"]
suburban_fare_total = suburban_cities_df.groupby(["type"]).sum()["fare"]
rural_fare_total = rural_cities_df.groupby(["type"]).sum()["fare"]

urban_fare_total, suburban_fare_total, rural_fare_total

(type
 Urban    39854.38
 Name: fare, dtype: float64,
 type
 Suburban    19356.33
 Name: fare, dtype: float64,
 type
 Rural    4327.93
 Name: fare, dtype: float64)

In [88]:
#  4. Get the average fare per ride for each city type. 
urban_avg_fare = urban_cities_df.groupby(["type"]).mean()["fare"]
suburban_avg_fare = suburban_cities_df.groupby(["type"]).mean()["fare"]
rural_avg_fare = rural_cities_df.groupby(["type"]).mean()["fare"]

urban_avg_fare, suburban_avg_fare, rural_avg_fare

(type
 Urban    24.525772
 Name: fare, dtype: float64,
 type
 Suburban    30.970128
 Name: fare, dtype: float64,
 type
 Rural    34.62344
 Name: fare, dtype: float64)

In [95]:
# 5. Get the average fare per driver for each city type. 
urban_avg_per_driver_fare = urban_cities_df.groupby(["type"]).mean()["fare"]/urban_driver_count
suburban_avg_per_driver_fare = suburban_cities_df.groupby(["type"]).mean()["fare"]/suburban_driver_count
rural_avg_per_driver_fare = rural_cities_df.groupby(["type"]).mean()["fare"]/rural_driver_count

urban_avg_per_driver_fare, suburban_avg_per_driver_fare, rural_avg_per_driver_fare

(type
 Urban    0.000411
 dtype: float64,
 type
 Suburban    0.003614
 dtype: float64,
 type
 Rural    0.064476
 dtype: float64)

In [102]:
pyber_data_df.set_index(["type"])

,city,date,fare,ride_id,driver_count
type,,,,,
Urban,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5
Urban,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72
Urban,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57
Urban,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34
Urban,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46
...,...,...,...,...,...
Rural,Michaelberg,2019-04-29 17:04:39,13.38,8550365057598,6
Rural,Lake Latoyabury,2019-01-30 00:05:47,20.76,9018727594352,2
Rural,North Jaime,2019-02-10 21:03:50,11.11,2781339863778,1
Rural,West Heather,2019-05-07 19:22:15,44.94,4256853490277,4
Rural,Newtonview,2019-04-25 10:20:13,55.84,9990581345298,1

In [105]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame(
    [{"Total Rides": ride_count,
        "Total Drivers": driver_count,
        "Total Fares": fare,
        "Average Fare per Ride": pyber_data_df.groupby(["type"]).mean()["fare"],
        "Average Fare per Driver": (pyber_data_df.groupby(["type"]).mean()["fare"]) / (driver_count)}])
      
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
0,2375,68709,63538.64,type Rural 34.623440 Suburban 30.9701...,type Rural 0.000504 Suburban 0.000451...

In [71]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

NameError: name 'pyber_summary_df' is not defined

In [112]:
#  8. Format the columns.
pyber_summary_df["Total Rides"] = pyber_summary_df["Total Rides"].map("{:.0}".format)
pyber_summary_df["Total Drivers"] = pyber_summary_df["Total Drivers"].map("{:.0}".format)
pyber_summary_df["Total Fares"] = pyber_summary_df["Total Fares"].map("${:.2}".format)
pyber_summary_df["Average Fare per Ride"] = pyber_summary_df["Average Fare per Ride"].map("${:.2}".format)
pyber_summary_df["Average Fare per Driver"] = pyber_summary_df["Average Fare per Driver"].map("${:.2}".format)

pyber_summary_df

TypeError: unsupported format string passed to Series.__format__

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')